{
  "openapi": "3.1.0",
  "info": {
    "title": "NVD CVE API 2.0",
    "description": "National Vulnerability Database (NVD) CVE API version 2.0. Provides programmatic access to CVE records including CVSS scores and CPE configurations.",
    "version": "2.0.0",
    "contact": {
      "url": "https://nvd.nist.gov/developers/vulnerabilities"
    }
  },
  "servers": [
    {
      "url": "https://services.nvd.nist.gov",
      "description": "NVD REST API"
    }
  ],
  "paths": {
    "/rest/json/cves/2.0": {
      "get": {
        "operationId": "searchCVEs",
        "summary": "Search CVE records",
        "description": "Returns a paginated list of CVE records matching the supplied filters. Without filters, returns all CVEs ordered by published date descending. The NVD recommends adding a delay of 6 seconds between requests when not using an API key.",
        "parameters": [
          {
            "name": "keywordSearch",
            "in": "query",
            "description": "Returns CVEs where a word or phrase appears in the current description. Multiple keywords are treated as an AND query when keywordExactMatch is absent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cpeName",
            "in": "query",
            "description": "Returns all CVEs associated with a specific CPE (Common Platform Enumeration) name. Example: cpe:2.3:a:golang:go:*:*:*:*:*:*:*:*",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cvssV3Severity",
            "in": "query",
            "description": "Filter by CVSSv3 base severity.",
            "schema": {
              "type": "string",
              "enum": [
                "LOW",
                "MEDIUM",
                "HIGH",
                "CRITICAL"
              ]
            }
          },
          {
            "name": "pubStartDate",
            "in": "query",
            "description": "Start of publication date range (ISO 8601, e.g. 2023-01-01T00:00:00.000). Must be used with pubEndDate. Range cannot exceed 120 days.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "pubEndDate",
            "in": "query",
            "description": "End of publication date range (ISO 8601). Must be used with pubStartDate.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "resultsPerPage",
            "in": "query",
            "description": "Number of CVE records to return per page. Maximum 2000.",
            "schema": {
              "type": "integer",
              "default": 2000,
              "minimum": 1,
              "maximum": 2000
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "Zero-based index of the first CVE to return. Use with resultsPerPage for pagination.",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "NVD API key. Optional but increases rate limits significantly.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CVE search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CVESearchResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden \u2014 API key invalid or rate limit exceeded"
          },
          "404": {
            "description": "No CVEs found matching the specified parameters"
          }
        }
      }
    },
    "/rest/json/cve/2.0/{cveId}": {
      "get": {
        "operationId": "getCVEById",
        "summary": "Get a single CVE by ID",
        "description": "Returns the complete record for a single CVE identified by its CVE ID.",
        "parameters": [
          {
            "name": "cveId",
            "in": "path",
            "required": true,
            "description": "The CVE identifier (e.g. CVE-2023-12345).",
            "schema": {
              "type": "string",
              "pattern": "^CVE-[0-9]{4}-[0-9]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Single CVE record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CVESearchResponse"
                }
              }
            }
          },
          "404": {
            "description": "CVE not found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CVESearchResponse": {
        "type": "object",
        "properties": {
          "resultsPerPage": {
            "type": "integer",
            "description": "Number of CVE records returned in this response."
          },
          "startIndex": {
            "type": "integer",
            "description": "Zero-based index of the first result."
          },
          "totalResults": {
            "type": "integer",
            "description": "Total number of CVE records matching the query."
          },
          "format": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "vulnerabilities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CVEItem"
            }
          }
        },
        "required": [
          "resultsPerPage",
          "startIndex",
          "totalResults",
          "vulnerabilities"
        ]
      },
      "CVEItem": {
        "type": "object",
        "properties": {
          "cve": {
            "$ref": "#/components/schemas/CVE"
          }
        },
        "required": [
          "cve"
        ]
      },
      "CVE": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "CVE identifier (e.g. CVE-2023-12345)."
          },
          "sourceIdentifier": {
            "type": "string"
          },
          "published": {
            "type": "string",
            "format": "date-time"
          },
          "lastModified": {
            "type": "string",
            "format": "date-time"
          },
          "vulnStatus": {
            "type": "string",
            "enum": [
              "Analyzed",
              "Awaiting Analysis",
              "Undergoing Analysis",
              "Modified",
              "Deferred",
              "Rejected"
            ]
          },
          "descriptions": {
            "type": "array",
            "description": "Descriptions in multiple languages. The 'en' entry is the canonical English description.",
            "items": {
              "type": "object",
              "properties": {
                "lang": {
                  "type": "string",
                  "description": "Language code (e.g. 'en', 'es')."
                },
                "value": {
                  "type": "string"
                }
              },
              "required": [
                "lang",
                "value"
              ]
            }
          },
          "metrics": {
            "type": "object",
            "properties": {
              "cvssMetricV31": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CVSSMetricV31"
                }
              },
              "cvssMetricV30": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CVSSMetricV30"
                }
              },
              "cvssMetricV2": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          },
          "weaknesses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "source": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "description": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "lang": {
                        "type": "string"
                      },
                      "value": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "configurations": {
            "type": "array",
            "description": "CPE applicability statements describing affected configurations.",
            "items": {
              "type": "object",
              "properties": {
                "nodes": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "operator": {
                        "type": "string",
                        "enum": [
                          "AND",
                          "OR"
                        ]
                      },
                      "negate": {
                        "type": "boolean"
                      },
                      "cpeMatch": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "vulnerable": {
                              "type": "boolean"
                            },
                            "criteria": {
                              "type": "string"
                            },
                            "versionStartIncluding": {
                              "type": "string"
                            },
                            "versionStartExcluding": {
                              "type": "string"
                            },
                            "versionEndIncluding": {
                              "type": "string"
                            },
                            "versionEndExcluding": {
                              "type": "string"
                            },
                            "matchCriteriaId": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "references": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "format": "uri"
                },
                "source": {
                  "type": "string"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "required": [
          "id",
          "published",
          "lastModified",
          "descriptions"
        ]
      },
      "CVSSMetricV31": {
        "type": "object",
        "properties": {
          "source": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "Primary",
              "Secondary"
            ]
          },
          "cvssData": {
            "type": "object",
            "properties": {
              "version": {
                "type": "string"
              },
              "vectorString": {
                "type": "string"
              },
              "attackVector": {
                "type": "string"
              },
              "attackComplexity": {
                "type": "string"
              },
              "privilegesRequired": {
                "type": "string"
              },
              "userInteraction": {
                "type": "string"
              },
              "scope": {
                "type": "string"
              },
              "confidentialityImpact": {
                "type": "string"
              },
              "integrityImpact": {
                "type": "string"
              },
              "availabilityImpact": {
                "type": "string"
              },
              "baseScore": {
                "type": "number",
                "minimum": 0,
                "maximum": 10
              },
              "baseSeverity": {
                "type": "string",
                "enum": [
                  "NONE",
                  "LOW",
                  "MEDIUM",
                  "HIGH",
                  "CRITICAL"
                ]
              }
            }
          },
          "exploitabilityScore": {
            "type": "number"
          },
          "impactScore": {
            "type": "number"
          }
        }
      },
      "CVSSMetricV30": {
        "type": "object",
        "properties": {
          "source": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "Primary",
              "Secondary"
            ]
          },
          "cvssData": {
            "type": "object",
            "properties": {
              "version": {
                "type": "string"
              },
              "vectorString": {
                "type": "string"
              },
              "baseScore": {
                "type": "number"
              },
              "baseSeverity": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
